.btn-primary{
  background: var(--gradient-tertiary);
  padding: 8px 16px;
  border: none;
  border-radius: var(--radius-md);
  width: fit-content;
  /* box-shadow: ; */
}
.btn-secondary{
  padding: 8px 16px;
  background-color: transparent;
  border-color: var(--color-tertiary);
  border-radius: var(--radius-md);
  width: fit-content;
  /* box-shadow: ; */
}
