.btn-primary{
  background: var(--gradient-tertiary);
  padding: 8px 16px;
  border: none;
  border-radius: var(--radius-md);
  width: fit-content;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}
.btn-secondary{
  padding: 8px 16px;
  background-color: transparent;
  border-color: var(--color-tertiary);
  border-radius: var(--radius-md);
  width: fit-content;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}
.card{
  display: flex;
  padding: 2rem;
  gap: 24px;
  align-items: start;
  border-radius: var(--radius-md);
  background-color: var(--secondary-tone3);
}
.service__card{
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: end;
  padding: 42px 42px 0 42px;
  background-color: var(--shadow-secondary);
  border: 8px solid var(--color-secondary);
  border-radius: var(--radius-md);
}
input{
  background-color: var(--shadow);
  padding: 12px;
  border: none;
  border-radius: var(--radius-md);
}
textarea{
  background-color: var(--shadow);
  border-radius: var(--radius-md);
  padding: 12px;
  border: none;
  resize: none;
  height: 200px;
}
footer{
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  background-color: var(--secondary-tone3);
}