body{
  background-color: var(--color-light);
  font-family: Inter, sans-serif;
}
h1{
  font-family: var(--ff-title);
  font-size: 56px;
}
h2{
  font-family: var(--ff-title);
  font-size: 36px;
}
h3{
  font-family: var(--ff-title);
  font-size: 28px;
}
h4{
  font-family: var(--ff-title);
  font-size: 20px;
}
p{
  font-size: 16px;
}
.header-content{
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-tone3);
  padding: 1rem;
  align-items: center;
  padding-inline: 3rem;
}
ul{
  display: flex;
  gap: 2rem;
  list-style: none;
}
ul li a{
  text-decoration: none;
  color: var(--color-dark);
  font-weight: bold;
}

#home{
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: radial-gradient(circle at bottom, var(--color-light), var(--secondary-tone3));
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  /* background-image: url(../img/formas.svg);
  background-repeat: no-repeat;
  background-size: cover; */
}
.home__texts{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.span-inicio{
  display: flex;
  font-weight: bold;
  justify-content: center;
  gap: 2px;
}
.btn-primary a, .btn-secondary a{
  font-weight: bold;
}

#about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 2rem;
  min-height: 90vh;
}
.about-main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
  gap: 4rem;
  align-items: center;
}
.about__intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.ctas{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.cards{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem auto;
}
.card__texts{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#services{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 5rem;
  margin-top: 2rem;
  min-height: 90vh;
}
.services__texts{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
}
.services__cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.service__card-texts{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
  margin-top: 2rem;
  min-height: 100vh;
  gap: 4rem;
}
.infos-e-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}
.contact__infos{
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  text-align: center;
  gap: 2rem;
}
.infos{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info{
  display: flex;
  align-items: center;
  text-align: start;
  gap: 1rem;
}
.contact__form{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.inputs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.campos{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}